h1 {color:rgb(255,255,0)}
body {
    background-image: url(/img/img.jpg);
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-attachment: fixed;
}
.mypicture {
    width: 300px; height: 300px;
    background: green;
}
/*텍스트 확인*/
p {text-align:center; 
    text-decoration-line: underline;
    text-decoration-color:blue;
    text-decoration-style:dashed
    text-decoration-thickness: 3px;}

h2 {
    text-decoration: overline red 1px solid;
    text-shadow:1px 1px 2px pink
    font-family:Georgia,"맑은 고딕",serif;
    font-size:100px;
}

a {
    text-decoration: none;
}
a:hover {
    color: red;
    font-weight: bold;
}
ul {
    list-style-type: "\1F44D";
}
table {
    border: 3px solid black;
    border-collapse: collapse;
}
tr {
    border: 2px solid blue
}
td {
    border: 1px solid green
}